{% extends 'base.html.twig' %}

{% block body %}

    <div class="error">
        <h1>Oops! Une erreur est survenue</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% endif %}

        <p>
            Un dysfonctionnement est apparu. N'hésitez pas à nous laisser un message sur notre formulaire temporaire pour nous informer
            de ce que vous faisiez lorsque l'erreur est survenue. Nous tâcherons alors de résoudre le problème dès que possible.
            En nous excusant pour le dérangement.
        </p>
    </div>

{% endblock %}