{% extends 'base.html.twig' %}

{% block body %}

    <div class="error" id="404-error">

        <h1>Oh bah dis donc ! Il semblerait que cette page n'existe plus ou pas du tout !</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% endif %}

        <p>Notre brigade de développeurs foofood s'affaire à la refonte de notre site, alors soyez prêt à en prendre plein les yeux !</p>

        <p>En attendant, découvrez notre nouveau concept sur notre page éphémère...</p>

        <a href="{{ path('fy_valentine_homepage') }}" class="waves-effect waves-light btn-large">Page D'Accueil</a>

    </div>

{% endblock %}