/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules
/web/bundles/
/web/vendors/components
/web/assets/css
/web/assets/js
/web/assets/fonts
/web/assets/img
web/dev/img/.DS_Store
npm-debug.log

