{% extends 'layout.html.twig' %}

{% block content %}
    <div id="mention-page">
        <div class="block-part" id="mentions">
            <h1>Mentions légales</h1>
            <h3>Références éditoriales</h3>
            <p> Le site internet foodandyou.fr est édité par la société FOOD&YOU société par actions simplifiée au capital de 3 500 euros.<br>
                La société FOOD&YOU est inscrite au Registre du Commerce et des Sociétés de Lyon sous le numéro RCS 817 661 721 <br> Le siège
                social est situé à Lyon, 13 Cours d’Herbouville 69004 – email : karen@foodandyou.fr <br> Directeur de publication : Mme Karen
                FINZI (Gérante) de la société Repérage Shopping Sarl, Présidente de la société FOOD&YOU – karen@foodandyou.fr
            </p>
            <p>L’hébergement du Site a été confié à la société OVH - SAS au capital de 10 069 020 € <br>
                Siège social : 2 rue Kellermann - 59100 Roubaix - France.
            </p>
            <p>© FOOD&YOU – janvier 2016 - Tous droits réservés</p>
            <h3>Données personnelles</h3>
            <p>La création d’un compte personnel et l’utilisation du site supposent la collecte de données personnelles et la
                réalisation d’un traitement de données. Ce traitement a pour finalité l’exploitation des Services du Site et
                l’activité de la société FOOD&YOU. Seule la société FOOD&YOU est destinataire des données collectées. Aucune
                donnée personnelle n’est collectée à des fins autres que celles susvisées ni cédée à des tiers sans votre consentement
                ou utilisée à votre insu. Conformément à la loi n°78-17 du 6 janvier 1978 modifiée, relative à l’Informatique,
                aux Fichiers et aux Libertés, vous disposez d’un droit d’accès, de modification et de suppression des données
                personnelles vous concernant (art.34 de la loi). Ces droits peuvent être exercés auprès du Responsable du traitement :
                Société FOOD&YOU, Karen Finzi: karen@foodandyou.fr Vous trouverez toutes les informations concernant vos droits, devoirs
                et la protection des données personnelles sur le site de la Commission Nationale de l’Informatique et des Libertés :
                http://www.cnil.fr Lors de la visite sur le Site, un cookie est implanté dans votre ordinateur. Ce cookie enregistre votre login
                en tant que Membre du Site et stocke cette information de manière vous évitez, lors de votre prochaine visite, de les saisir à nouveau.
                La durée de conservation de cette information sur votre ordinateur est de six mois. Vous pouvez vous opposer à l’enregistrement de ce
                cookie en configurant votre navigateur différemment.
            </p>
            <h3>Contacts</h3>
            <p>Pour nous signaler toutes erreurs ou anomalies sur le Site :
                Webmestre : Karen Finzi, karen@foodandyou.fr
            </p>
        </div>
        <div class="block-part" id="cgv">
            <h1>Conditions Générales de Vente</h1>
            <h4>ARTICLE 1 : Objet - DEFINITIONS</h4>
            <p>Les présentes conditions générales de vente (ci-après les « Conditions Générales ») stipulent les droits et obligations de la société FOOD&YOU (ci-après «  FOOD&YOU ») et des clients de la plateforme web accessible à l’adresse www.foodandyou.fr (ci-après le « Client » et la « Plateforme ») qui achètent des produits FOOD&YOU.
                Pour les besoins des présentes, les termes suivants auront le sens défini ci-dessous :
                « Client » : Désigne toute personne physique ou morale ayant procédé à l’achat d’un ou plusieurs Produits.
                « Produits » : Désigne les produits FOOD&YOU disponibles à l’achat sur la Plateforme.
                « Conditions Particulières » : Désigne les conditions particulières afférentes à un Produit particulier qui sont transmises au Client avant l’achat et qui, dans ce cas, complètent et font partie intégrante des Conditions Générales ; en cas de contradiction, les Conditions Particulières prévalent sur les présentes.
            </p>
            <h4>ARTICLE 2 : CREATION DE COMPTE - ACCEPTATION DES CONDITIONS GENERALES</h4>
            <p>Afin d’acheter un Produit, le Client doit s’enregistrer sur la Plateforme et ouvrir un compte à son nom. La création d'un compte est ouverte à toute personne physique âgée de plus de 18 ans et à toute personne morale, et emporte l’acceptation pleine et entière des présentes Conditions Générales ainsi que les éventuelles Conditions
                Particulières applicables au Produit, lesquelles sont mises à sa disposition au moment de la création du compte. Si le Client est mineur, il doit fournir une autorisation parentale pour s’inscrire. Le Client peut imprimer ou sauvegarder ces Conditions Générales. FOOD&YOU se réserve le droit de modifier à tout moment les présentes Conditions Générales.
                Dans un tel cas, les nouvelles conditions générales applicables seront publiées sur la Plateforme. Lors de la création de son compte, le Client doit fournir l’ensemble des informations identifiées comme obligatoires. Il s’engage à fournir des informations exactes et à les mettre régulièrement à jour. Ces informations restent confidentielles.
                Toute personne physique ne peut ouvrir qu’un seul compte à son nom. Le compte est personnel et ne peut être cédé à un tiers, ni être utilisé par une société, quelle qu'elle soit. L'ouverture du compte par un Client est confirmée par l'émission d'un courriel de FOOD&YOU.  Le Client est responsable de la confidentialité de son login et de son mot de passe.
                En cas de perte ou de constat d’intrusion sur son compte, le Client devra modifier sans délai son mot de passe ou respecter la procédure de sécurité proposée par FOOD&YOU afin de récupérer son login ou mot de passe. Tout Client reste libre de fermer son compte à tout moment. Tout manquement grave d'un Client à l'un quelconque de ses engagements au titre des présentes,
                non remédié dans un délai de quinze (15) jours à compter de la réception d'une lettre recommandée avec avis de réception ou d’un email avec accusé de réception de FOOD&YOU, ouvre droit pour cette dernière à la suspension ou à la révocation du compte du Client concerné, selon la gravité des faits. Le courrier ou email précisera les faits reprochés. En cas de révocation,
                tout accès du Client à son compte deviendra impossible, sans préjudice de tout autre dommage et intérêt auxquels FOOD&YOU pourrait prétendre. En cas de trouble ou atteinte manifestement illicite, le délai pour remédier au manquement pourra être plus court.
            </p>
            <h4>ARTICLE 3 : COMMANDE – DROIT DE RETRACTATION</h4>
            <p>Une fois son compte validé, le Client peut procéder à toute commande de Produits de son choix. La commande est réputée effectuée lorsque le Client a validé son acceptation de l’achat par l’acceptation expresse de Conditions Générales au moment de l’achat et par le paiement du prix complet à FOOD&YOU par les moyens mis à sa disposition sur la Plateforme. Conformément à la loi,
                le Client bénéficie, dans les quatorze (14) jours suivant la réception du Produit, du droit de rétractation sans justifier d’un motif à l’égard de FOOD&YOU sauf dans le cas où le Produit fourni fait partie des exceptions listées à l’article L121-21-8 du code de la consommation. Le droit de rétractation est à exercer en adressant un courriel à contact@foodandyou.fr. Une fois
                ce droit exercé, le Client recevra le remboursement du prix versé pour le Produit concerné. Ce remboursement ne porte pas sur les frais de retour du Produit qui restent à la charge du Client. Lorsqu’il retourne le Produit à FOOD&YOU, le Client doit utiliser le packaging original du Produit. Le Produit doit être retourné dans son état d’origine, doit être complet, accompagné
                de la facture originale et envoyé à l’adresse figurant sur la facture. Le retour du Produit doit être réalisé dans les quatorze (14) jours suivant la date d’exercice du droit de rétractation. Dans le cas où le process ci-dessus serait respecté par le Client, FOOD&YOU procédera au remboursement par le même moyen de paiement que celui utilisé à l’origine par le Client. Ce remboursement
                interviendra au plus tard quatorze (14) jours suivant l’exercice du droit de rétractation, mais pourra être repoussé jusqu’à la première des dates suivantes : (i) la date de réception du Produit conforme, ou (ii) la date de réception de la preuve du retour par le Client. Dans l’hypothèse où le Produit serait retourné incomplet ou présenterait des défauts dus au Client, FOOD&YOU procédera
                à une réduction du montant du remboursement et en informera le Client.
            </p>
            <h4>ARTICLE 4 : PRIX</h4>
            <p>Les prix appliqués par Produit sont indiqués en euros toutes taxes comprises, sur la Plateforme. FOOD&YOU se réserve le droit de modifier les prix à tout moment en conformité avec la législation applicable.</p>
            <h4>ARTICLE 5 : LIVRAISON</h4>
            <p>Les frais de livraison sont en sus des prix figurant sur la Plateforme et sont déterminés en fonction du choix du Client quant à la livraison. Si la livraison nécessite une prise de rendez-vous entre le transporteur et le Client, le transporteur est chargé de prendre contact directement avec le Client pour convenir du rendez-vous. Conformément aux dispositions légales, la date de livraison
                indiquée lors de la validation de la commande est la date maximale à laquelle la livraison doit intervenir. En cas de retard de livraison de plus de 7 jours par rapport à cette date, le Client bénéficie de la possibilité d’annuler la commande dans un délai de soixante (60) jours ouvrés, conformément aux dispositions légales. Dans un tel cas, si le Client n’a pas reçu le Produit au moment de son annulation,
                FOOD&YOU remboursera au Client le prix payé pour le Produit concerné. En revanche, si le Client a reçu le Produit après avoir effectué l’annulation, FOOD&YOU procèdera au remboursement du Produit et prendra à sa charge les frais de retours, dans les quatorze (14) jours suivant la réception par ce dernier du Produit retourné par le Client, et sous réserve que le Produit soit dans son état d’origine.
                Tout retard de livraison qui serait du à l’indisponibilité du Client pour recevoir le Produit à l’adresse qu’il a indiquée lors de la commande ne peut être considéré comme imputable à FOOD&YOU ou au transporteur. Par conséquent, aucune annulation de commande ne pourra être réclamée par le Client dans un tel cas.
                Le Client doit notifier au transporteur sur le bon de livraison ses réserves sur le Produit livré et les confirmer à FOOD&YOU par courrier recommandé AR dans un délai raisonnable suivant la livraison.
            </p>
            <h4>ARTICLE 6 : Obligations DU CLIENT et responsabilité</h4>
            <p>Dans l’usage de la Plateforme, le Client s’engage, s’il indique des commentaires ou notes, à ce que ces derniers :
                soient conformes à l’ordre public ou aux bonnes mœurs,
                ne soient pas injurieux, outranciers, mensongers ou calomnieux à l’égard de quiconque,
                ne comportent pas de dérive raciste, xénophobe, négationniste, incitant à la discrimination, à la haine ou à la violence à l'égard d'une personne ou d'un groupe de personnes à raison de leur origine, de leur sexe, de leur situation de famille, de leur apparence physique, de leur patronyme, de leur état de santé, de leur handicap, de leurs caractéristiques génétiques, de leurs mœurs, de leur orientation sexuelle
                vraie ou supposée, de leur âge, de leurs opinions politiques, de leurs activités syndicales, de leur appartenance vraies ou supposée à une ethnie, une nation, une race, ou une religion déterminée,
                plus généralement, soient conformes aux dispositions légales et règlementaires en vigueur.
                Il est de la responsabilité du Client de s’assurer que ses équipements et sa connexion internet sont suffisants pour accéder à la Plateforme. Chaque Client reste responsable à tout moment de l’usage de son compte, de son login et de son mot de passe, ainsi que de tout commentaire publié et toute note attribuée. Le Client sera tenu de dédommager FOOD&YOU de l’intégralité des conséquences matérielles ou immatérielles,
                qui découlerait de sa violation des présentes Conditions Générales. En cas d’action ou de revendication d’un tiers à l’encontre de FOOD&YOU, cette dernière pourra par conséquent appeler en garantie tout Client qui, en violant les engagements des présentes Conditions Générales, serait à l’origine des faits reprochés par ledit tiers à FOOD&YOU. En outre, le Client renonce à exercer tout recours contre FOOD&YOU dans le
                cadre de poursuites diligentées par un tiers à son encontre du fait de la publication, l'utilisation ou de l'exploitation des commentaires et notes qu’il aura publiés.
            </p>
            <h4>ARTICLE 7 : Obligations de FOOD&YOU et responsabilité</h4>
            <p>FOOD&YOU ne pourra être tenue responsable de toute indisponibilité de la Plateforme inhérente aux aléas techniques liés à Internet, à un cas de force majeure, se rapportant à la connexion Internet du Client ou à ses équipements, ou à des opérations de maintenance nécessaires au bon fonctionnement de la Plateforme. FOOD&YOU se réserve le droit d’interrompre à tout moment l’accès à la Plateforme notamment afin de préserver
                la confidentialité ou l’intégrité des comptes des Clients en cas d’attaque virale. FOOD&YOU met en œuvre les moyens techniques à sa disposition pour maintenir autant que possible l’intégrité et la sécurité de la Plateforme et la confidentialité des données personnelles des Clients. Le rôle de FOOD&YOU se limite, concernant la publication des notes et commentaires d’un Client, à celui d’un hébergeur au sens de l’article 6
                de la Loi pour la Confiance dans l’Economie Numérique (LCEN) du 21 juin 2004. A ce titre, elle n’est pas tenue à une obligation de surveillance desdits commentaires. Elle est seulement tenue à une obligation de retrait en cas de commentaire manifestement illicite qui lui aura été notifié selon les modalités prévues par la LCEN. FOOD&YOU ne saurait être responsable de tout dommage résultant d’une intrusion ou d’un maintien
                frauduleux d'un tiers sur le compte d’un Client ou sur la Plateforme, ou d’une extraction illicite de données, malgré la mise en œuvre par FOOD&YOU des moyens de sécurisation conformes aux données actuelles de la technique. FOOD&YOU décline toute responsabilité concernant la nature et le contenu des commentaires publiés par les Clients. FOOD&YOU ne saurait être responsable de tout dommage découlant, pour un Client, de la
                violation ou du non-respect par toute personne tierce, de l’une des obligations mises à leur charge au titre de toutes conditions contractuelles qui leur seraient applicables dans l’hypothèse où le Produit consisterait en une prestation de services.
            </p>
            <h4>ARTICLE 8 : RESPONSABILITE – GARANTIE</h4>
            <p>Les Produits commercialisés par FOOD&YOU sont conformes à la législation française et aux normes applicables sur le territoire de la France. Par conséquent, la responsabilité de FOOD&YOU ne saurait en aucun cas être engagée en cas de non-conformité ou non respect des normes, de la réglementation ou de la législation de tout autre pays que la France. Il appartient au Client de s’assurer auprès des autorités de son pays qu’il a le droit de procéder à l’achat du Produit concerné et de se la faire livrer dans son pays le cas échéant.
                Garantie légale : En cas de livraison d’un Produit défectueux (vice caché) ou ne correspondant pas à la commande, FOOD&YOU rembourse le prix du Produit concerné ou l’échange, selon le souhait du Client, sous réserve du respect par ce dernier du délai légal. En cas de remboursement, le Produit doit au préalable être retournée à FOOD&YOU dans l’état dans lequel le Client l’a reçu.
                Garantie contractuelle : A cette garantie légale, s’ajoute parfois une garantie contractuelle propre au Produit concerné. Le cas échéant, cette garantie contractuelle figure dans les conditions particulières afférentes au Produit concerné, qui sont soumis au Client au moment de la commande. La garantie contractuelle ne couvre toutefois pas ce qui suit : remplacement des consommables, panne liée aux accessoires, utilisation non conforme à la notice du Produit ou à l’usage auquel il est destiné, défaut résultant d’une réparation effectuée par un réparateur non agréé par le fabricant.
                Lorsque le Client souhaite bénéficier de la garantie légale ou de la garantie contractuelle, il convient qu’il contacte le service clients de FOOD&YOU à l’adresse suivante et qu’il présente la facture d’achat du Produit:
                13 cours d’Herbouville 69004 Lyon.
            </p>
            <h4>ARTICLE 9 : Données personnelles – COOKIES</h4>
            <p>FOOD&YOU procède à la collecte de données et informations personnelles concernant les Clients afin de gérer la Plateforme. Ce traitement de données personnelles fait l’objet d’une déclaration à la CNIL par FOOD&YOU sous le numéro 1924719. Ce traitement a pour objet la réalisation des opérations relatives à la gestion des Clients et à la prospection, à l’élaboration de statistiques commerciales, à l’organisation de jeux et de toute opération promotionnelle, à la gestion des avis des Clients sur les Produits et sur les fonctionnalités de la Plateforme. Ces données sont destinées uniquement
                aux personnels des services commerciaux, marketing, administratifs et informatiques de FOOD&YOU, ainsi que les services chargés du contrôle (commissaires aux comptes, etc.). Aucun échange ni location ni cession de ces données à des tiers n’est envisagé. Conformément à la loi du 6 janvier 1978, le Client dispose d’un droit d’accès, de rectification et d’opposition sur les données personnelles le concernant. Pour exercer ce droit, il convient d’écrire à : contact@foodandyou.fr, ou Société FOOD&YOU – 13 Cours d’Herbouville 69004 Lyon, France. FOOD&YOU informe le Client de l’installation de
                cookies dans son ordinateur. FOOD&YOU utilise les cookies pour permettre et faciliter la communication par voie électronique, pour fournir des fonctionnalités adaptées aux besoins des Clients. Le cookie sert à identifier le Client à chacune de ses connexions, et facilite ainsi son accès à la Plateforme. Le Client peut refuser les cookies en modifiant la configuration de son navigateur ; ceci peut néanmoins altérer les fonctionnalités proposées par la Plateforme.
            </p>
            <h4>Article 10 : DIVERS</h4>
            <p>De manière générale, si une ou plusieurs stipulations des Conditions Générales sont tenues pour non valides ou déclarées comme telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée. Les Parties conviennent alors de remplacer la clause déclarée nulle et non valide par une clause qui se rapprochera
                le plus quant à son contenu de la clause initialement arrêtée. Les mêmes principes s’appliqueront en cas de dispositions incomplètes. Les dispositions des présentes Conditions Générales expriment l’intégralité de l’accord conclu entre les Parties.
            </p>
            <h4>Article 11 : Droit Applicable - Attribution de juridiction</h4>
            <p>Les Conditions Générales seront interprétées, exécutées et régies par le droit français. En cas de difficultés relatives à la validité, l’interprétation, l’exécution ou l’inexécution des présentes, et à défaut de règlement amiable dans un délai de trente (30) jours suivant la survenance du différend, les Parties conviennent de soumettre leur différend à la compétence exclusive du tribunal compétent dans le ressort de la Cour d’appel de Lyon. </p>
        </div>
    </div>
{% endblock %}