{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Oh ba dis donc! Il semblerait que cette page n'existe plus !</h1>
    <p>Notre brigade de développeurs foofoo s'affaire à la refonte de notre site, alors soyez prêt à en prendre plein les yeux!</p>
    <p>En attendant, découvrez notre nouveau concept sur notre page éphémère</p>
    <a href="{{ path('index') }}" class="waves-effect waves-light btn-large">Page D'Accueil</a>
{% endblock %}